<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="hellospring" class="com.wooyoung.toby_vol2.HelloSpring"></bean>
</beans>
